.App {
  text-align: center;
  align-items: center;
}

#searchForm{
  padding-left: 20px;
  background-color: darkslategray;
  line-height: 50px;
}

#searchBox{
  width: 300px;
}

#resultsList{
  align-items: center;
}
.result{
  border:solid 1px cornflowerblue;
  border-radius: 5px;
  margin: 10px;
  margin-left: 50px;
  max-width: 80%;
  padding: 10px;
}

.level{
  background-color: darkslategray;
  color: white;
  width: min-content;
  padding: 5px;
  border-radius: 5px;
}

.result-link{
  font-size: larger;
}

h2 {
  text-align: center;
}

#loadMore{
}

#sitesList{
  width: 90%;
  text-align: center;
}

#sitesList span{
  display: inline;
  margin-right: 15px;
  line-height: 40px;
  padding: 5px;
  background-color: lightslategrey;
}
#sitesList span a {
  text-decoration: none;
  color: black;
}