.App {
  text-align: center;
}

#searchForm{
  background-color: darkslategray;
  line-height: 50px;
}
.result{
  border:solid 1px cornflowerblue;
  border-radius: 5px;
  margin: 10px;
  max-width: 80%;
  padding: 10px;
}

.level{
  background-color: darkslategray;
  color: white;
  width: min-content;
  padding: 5px;
  border-radius: 5px;
}

.result-link{
  font-size: larger;
}
